@font-face {
  font-family: 'OpenSansCondensed-Light';
  font-style: normal;
  font-weight: 200;
  src: local('OpenSansCondensed-Light'), local('OpenSansCondensed-Light'), url(../font/OpenSansCondensed-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway-Thin';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway-Thin'), local('Raleway-Thin'), url(../font/Raleway-Thin.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../font/Lato-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'OpenSansCondensed-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../font/Lato-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'OpenSansCondensed-Light';
    background-color: white;
    color: black;
}
p{
    font-size: 17px;
}
h1{
    font-family: 'Lato';
    font-weight: bolder;
}
#mainNav{
    font-family: 'Lato';
    font-style: normal;
    font-size: 12px;
    border: none;

}
a{
    color: black;
}
#mainNav a{
   color: black;
   padding-right: 20px;
}
.active a{
    color: black !important;
}
#mainNav ul li a:hover{
    color: rgb(19, 19, 180);
    transition: 0.4s ease-out;
}
#loginBtn{
    margin-top: 8px;
}
#bookSection{
    padding-top: 130px;
}
#bookManager, #BookmarkInOneClickH1{
    padding-top: 50px;
    padding-bottom: 15px;
}
#chrome, #firefox, #moreInfoBtn{
    height: 45px;
    border: none;
    font-family: 'Lato';
    font-weight: 400;
    border-radius: 3px;
    margin-right: 10px;
}
#downloadTheExtensionContainer{
    margin-top: 50px;
}
#features h1{
    margin-bottom: 20px;
}
#featuresNav{
    border-bottom: 1px solid rgba(128, 128, 128, 0.239);
}
.red-active{
    border-bottom: 3px solid red;
}
.hiddenBookmarkTab{
    display: none;
}
/* BTN DELETE THIS BELOW */
#btnGroup{
    margin-top: 15px;
    width: 210px;
    height: 45px;
    border: none;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    border-radius: 3px;

}
#BookmarkInOneClickContainer{
    margin-top: 50px;
}
.text-xs-center{
    text-align: center;
}
#browserLogo{
    border: 1px solid rgba(128, 128, 128, 0.109);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.109);
}
#browserLogo h5{
    font-weight: bolder;
}
#browserLogo p{
    font-size: 12px;
}
#browserLogo i{
    font-size: 15px;
    letter-spacing: 3px;
    color: rgba(128, 128, 128, 0.5);
}
#browserLogo button{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 35px;
    font-size: 12px;
    font-family: 'Lato';
    border-radius: 3px;
}
#faq{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}
#faqDiv{
    margin-bottom: 70px;
    margin-top: 400px;
}
#faqDiv h1, #downloadTheExtensionContainer h1 {
    margin-bottom: 30px;
}
#faq span{
    right: 0px;
    position: absolute;
}
#faq img:hover{
    cursor: pointer;
}
.faqAnswer{
    background-color: rgba(128, 128, 128, 0.116);
    display: none;
    align-items: center;
}
#moreInfo{
    margin-top: 40px;
}
#upToDateDiv{
    background-color: rgb(45, 106, 185);
    padding-bottom: 40px;
    padding-top: 40px;
}
#navBottom{
    margin-top: 10px;
    margin-bottom: 10px;

}
#navBottom a{
    color: white;
    background-color: transparent;
}
#faq p{
    font-weight: bolder;
}
#BookmarkInOneClickBluebackgroundImg{
    transform: rotate(180deg);
    margin-left: -50px;
    margin-top: 50px;
}
#IntelligentSearchBluebackgroundImg{
    transform: rotate(180deg);
    margin-left: -70px;
    margin-top: 80px;  
}



@media (max-width: 767px)
{
    /* // xs */
    body{
        /* background-color: green; */
    }
    h1{
        font-size: 25px;
    }
    #BookmarkInOneClickH1{
        margin-top: -40px;
    }
    #bookmarImg{
        padding: 0px;
    }
    #browserImg{
        width: 180px;
    }
    #browserLogo h5{
        font-size: 23px;
        font-weight: bolder;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    #features h1{
        margin-top: 60px;
    }
    #features p{
        margin-bottom: 60px;
    }
    #browserLogo p{
        font-size: 15px;
    }
    #browserLogo{
        margin-bottom: 30px;
    }
    #featuresNav{
        margin-bottom: 50px;
    }
    #browserLogo button{
        margin-top: 40px;
        height: 45px;
        font-size: 15px;
        border-radius: 3px;
    }
    #upToDateDiv input{
        margin-bottom: 5px;
    }
    #bookManager{
        margin-top: -10px;
    }

    #featuresNav li, #borderBottom{
        border-top: 1px solid rgba(128, 128, 128, 0.555);
    }
    #chrome, #firefox{
        margin-bottom: 5px;
        font-size: 12px;
    }
    #faq p{
        font-size: 15px;
    }

}

@media (min-width: 768px) and (max-width: 991px)
{
    /* // sm */
    body{
    }
    .firefoxDown{
        margin-top: 30px;
    }
    .operaDown{
        margin-top: 60px;
    }
    #iconBottom{
        margin-top: 20px;
    }
    #upToDateDiv input{
        width: 200px;
        margin-right: 5px;
    }
    h1{
        font-size: 30px;
    }
    #bookManager{
        margin-top: -10px;
    }
    #featureNav ul{
        margin-bottom: 40px;
    }
    #BookmarkInOneClickH1{
        margin-top: -10px;
    }
    h1{
        font-size: 25px;
    }
    p{
        font-size: 14px;
    }
    #bluebackgroundImg{
        margin-right: -60px;
    }
    #BookmarkInOneClickBluebackgroundImg{
        transform: rotate(180deg);
        margin-left: -90px;
        margin-top: 40px;
        width: 100%;
    }
    
}

@media (min-width: 992px) and (max-width:1199px)
{
    /* // md */
    body{
    }
    .firefoxDown{
        margin-top: 30px;
    }
    .operaDown{
        margin-top: 60px;
    }
    #featureNav ul{
        margin-bottom: 40px;
    }

    #iconBottom{
        margin-top: 20px;
    }
    #upToDateDiv input{
        width: 200px;
        margin-right: 5px;
    }
    #bluebackgroundImg{
        margin-right: -100px;
        width: 100%;
        margin-top: -30px;
    }
    #BookmarkInOneClickBluebackgroundImg{
        transform: rotate(180deg);
        margin-left: -150px;
        margin-top: 40px;
    }
    #IntelligentSearchBluebackgroundImg{
        margin-left: -150px;
        margin-top: 100px;  
    }

}
 @media screen and (min-width:1200px)
{
    /* // lg */
    .text-xs-center{
        text-align: left;
    }
    .firefoxDown{
        margin-top: 30px;
    }
    .operaDown{
        margin-top: 60px;
    }

    #iconBottom{
        margin-top: 20px;
    }
    #upToDateDiv input{
        width: 200px;
        margin-right: 5px;
    }
    #bluebackgroundImg{
        margin-right: -100px;
        margin-top: -30px;
    }
    
    #BookmarkInOneClickBluebackgroundImg{
        transform: rotate(180deg);
        margin-left: -150px;
        margin-top: 40px;
    }
    #IntelligentSearchBluebackgroundImg{
        margin-left: -150px;
        margin-top: 120px;  
    }

}
@media (max-width: 560px){

    #bluebackgroundImg{
        margin-right: -60px;
        margin-top: 20px;
        width: 900px;
    }
    #BookmarkInOneClickBluebackgroundImg{
        transform: rotate(180deg);
        margin-left: -50px;
        margin-top: 50px;
    }
    #IntelligentSearchBluebackgroundImg{
        margin-left: -70px;
        margin-top: 80px;  
    }
}
@media (min-width: 561px) and (max-width: 767px){
    #bluebackgroundImg{
        margin-right: -60px;
        margin-top: 20px;
        width: 800px;
    }
    #BookmarkInOneClickBluebackgroundImg{
        transform: rotate(180deg);
        margin-left: -50px;
        margin-top: 90px;
    }
    #IntelligentSearchBluebackgroundImg{
        margin-left: -70px;
        margin-top: 130px;  
    }

}